%h1 YOUR DATA OF IRONHACK
%p 
%hr
%p 			 
%h1 
	name: 
	=@name 
%p
%hr
%P
%h1 
	years: 
	=@year
%p
%hr
%p
%h1 
	ages: 
	=@age
%p
%hr
%p
%h1 
	experiencia: 
	=@explist
%p
%hr
%p
%h1 
	email:
	=@email
%P
%hr
%p
%h1 
	address: 
	=@address
%p
%hr