- if Time.now.year - @year.to_i >= 18
  %p #{@name} you can access
  %img{:src => "http://www.besalinas.com/wp-content/uploads/2016/02/Te-dejo-pasar...-300x197.jpg"}
- else
  %p #{@name} you can´t access
  %img{:src => "https://cdn.meme.am/instances/500x/45799974.jpg"}
  %p
  prueba a registrarte y entrar como nuevo usuario
