%form{url: "", method: "post"}
  %label name
  %input{type: 'text', name: 'name', value: @name}
  %p
  %label year of birth
  %input{type: 'text', name: 'year', value: @year}
  %p
  %input{type: 'submit', value: 'dale caña', value: @submit} 