"<h1>Buenos Dias</h1>
<p>Mi nombre es manuel</p>
<p>esto es un pinguino</h2>	
<IMG SRC='http://www.abul.org/IMG/png/tux-gers2.1.png' WIDTH=178 HEIGHT=180 ALT='pinguin'>"

<% if Date.today.tuesday? %>
		y hoy es martes a dia y hora <%= Time.now %>
		<% else Date.monday) %>
		y hoy es martes a dia y hora <%= Time.now %>
		<%end%>