%IMG{:ALT => "perfil creado", :SRC => "http://4.bp.blogspot.com/-ADx3M1DUNf8/VYe2RipDtnI/AAAAAAAAHZs/58VK_Pv1ZoA/s1600/72024-homer-yuju.png"}
%p
GREAT!! YOU CREATE YOUR PROFILE . 
%o
%P
INTO MY  
%a{href: "./profile"} PROFILE